<p>
	Analytic software used to track feature usage, exceptions, and all other interesting points.
</p>
<p>
	<h6>
		For more information visit the <a href="https://github.com/BobbyCannon/Bloodhound">GitHub</a> page.
	</h6>
</p>
<h5>Technology Stack</h5>
<ul>
	<li>Entity Framework</li>
	<li>WebApi</li>
	<li>oData</li>
	<li>Charts.JS</li>
	<li>AngularJS</li>
	<li>jQuery</li>
	<li>JSON.NET</li>
</ul>