/*!
 * Styling for RTL (right-to-left) languages using pickadate.js
 */.picker {
																			direction: rtl
																		}

																		.picker__nav--next {
																			left: -1em;
																			right: auto;
																		}

																		.picker__nav--prev {
																			left: auto;
																			right: -1em
																		}

																		.picker__nav--next:before {
																			border-left: 0;
																			border-right: .75em solid #000
																		}

																		.picker__nav--prev:before {
																			border-left: .75em solid #000;
																			border-right: 0;
																		}